.acard {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px; 
    /*border: 1px solid #00b0ff;*/
    };
    
    .acard .acard-title {
        font-size: 24px;
        font-weight: 300; }
    .acard.small {
        position: relative; }
        .acard.small .acard-image {
            overflow: hidden;
        }
        .acard.small .acard-content {
            overflow: hidden;
        }

.acard.asmall {
    height: 550px;
    width: 350px;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2), 0 3px 2px 1px rgba(0, 0, 0, 0.19); 
    margin: 0 auto 20px auto;}
    .acard.asmall .acard-image {
    	height: 350px; }
    .acard.asmall .acard-content {
    	height: 200px;
    	background-color: #555758 }
    .acard .acard-image {
    	position: relative; }
    	.acard .acard-image img {
    		display: block;
    		border-radius: 2px 2px 0 0;
    		position: relative;
    		left: 0;
    		right: 0;
    		top: 0;
    		bottom: 0;
    		width: 100%;
        height: 100%; }
    	.acard .acard-image .acard-title {
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		padding: 10px; }
    .acard .acard-content {
    	padding: 20px;
    	border-radius: 0 0 2px 2px; }
    	.acard .acard-content p {
    		margin: 0;
        font-size: 18px; }
    	.acard .acard-content .acard-title {
    		line-height: 10px;
    	}


.review-box {
    height: 400px;
    width: 500px;
    min-height: 400px;
    resize: none;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #555758;
    border: none;
    /*border: 1px solid #00b0ff;*/
    font-size: 18px;
    color: #bdbdbd;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2), 0 3px 2px 1px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    /*word-wrap: break-word;*/
}

.noscroll {
    overflow: hidden;
}

.review-box:focus {
    outline:none;
}

.review-title {
    width: 300px;
    height: 30px;
    background-color: #555758;
    border: none;
    /*border: 1px solid #00b0ff;*/
    border-radius: 2px;
    color: #bdbdbd;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2), 0 3px 2px 1px rgba(0, 0, 0, 0.19);
    padding-left: 10px;
    font-size: 12px;
}

.rating-text {
    font-size: 15px;
    color: #bdbdbd;
}

:focus {
  outline: none !important;
}

.submit-review {
    background-color: #00b0ff;
    width: 100px;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
}

.alreview {
    background-color: #555758;
    color:#bdbdbd;
}

.select {
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.rating {
    background-color: #555758;
    border: 1px solid #00b0ff;
    color: #00b0ff;
    width: 150px;
    height: 30px;
    /*line-height: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;*/
}

.outof {
    font-size: 24px;
    color: #2D2E30;
    font-family: 'Roboto-Thin', 'Avenir-Ligh', sans-serif;
    font-weight: 500;
}

.num-rate {
    font-size: 40px;
    padding-left: 15px;
    color: #00b0ff;
    font-family: 'Roboto-Thin', 'Avenir-Ligh', sans-serif;
    font-weight: 400;
}

.alreview-title {
    font-family: 'Roboto-Thin', 'Avenir-Ligh', sans-serif;
    font-size: 24px;
    color: #00b0ff
}

.alreview-score {
    font-size: 24px;
    color: #00b0ff;
    padding-left: 5px;
}

.alreview-rating {
    padding-top: 7px;
    
}

.alreview-pic {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    
}

.alreview-name {
    padding-top: 20px;
    padding-left: 6px;
    color:#bdbdbd;
}

.alreview-content {
    word-wrap: break-word;
}