/*.container-1 {
    padding-left: 20px;
    padding-top: 14px;
    width: 300px;
    position: relative;
    display: inline-block;
}*/
/*#131313   #434447*/
#search {
    width: 300px;
    height: 30px;
    background: #131313;
    border: none;
    font-size: 13px;
    color: #00b0ff;
    padding-left: 45px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition: background .55s ease;
}
@media only screen and (min-width : 1024px) {
    #search {
        width: 500px;
        height: 50px;
        font-size: 18px;
    }
    .icon {
        font-size: 25px;

    }
    .click-artist {
        font-size: 20px;
    }
    .hearts {
        font-size: 20px;
    }
}
@media only screen and (max-width : 1023px) {
    #search {
        width: 400px;
        height: 40px;
        font-size: 15px;
    }
    .icon {
        font-size: 18px;
    }
    .click-artist {
        font-size: 18px;
    }
    .hearts {
        font-size: 18px;
    }
}
@media only screen and (max-width : 601px) {
    #search {
        width: 300px;
        height: 30px;
        font-size: 13px;
    }
    .icon {
        font-size: 13px;
    }
    .click-artist {
        font-size: 15px;
    }
    .hearts {
        font-size: 15px;
    }
}

.icon {
    position: absolute;
    margin-left: 8px;
    margin-top: 4px;
    z-index: 1;
    color: #888888;
}

.cont {
    display: flex;
    margin-top: 20px;
}

#search:hover,
#search:focus,
#search:active {
    outline: none;
    background: #434447;
}

.search-form {
    margin: 0 auto;
}

.artist-search-cont {
    margin-top: 50px;

}

.artist-search:nth-child(even) {
    background-color: #555758;
    border-radius: 2px;

}

.artist-search {
    margin-top: 5px;
    color: #00b0ff;
}

.click-artist {
    cursor: pointer;
}
