<headerDirective></headerDirective>
<div class='album-row row'>
    <div class='container'>
         <div class='album-art col s4'>
            <div class='acard asmall'>
                <div class='acard-image'>
                    <a ng-href='{{albumData.external_urls.spotify}}' target='_blank'><img class='album-img' ng-src='{{albumData.images[1].url}}'></a>
                </div>
                <div class='acard-content'>
                    <span class='rating-text'>Your Rating:</span><span class = 'num-rate your-rating' ng-show = 'userRating'>{{userRating}}</span><span class = 'outof'></span>
                    <br>
                    <br>
                    <span class='rating-text'>Overall Rating:</span><span class = 'num-rate overall-rate'>{{averageScore}}</span><span class = 'outof'>
                        
                    </span>
                    
                </div>
            </div>
        </div>
        <div  class = 'album-contains col s6'>
            <form ng-show="!alreadyReviewed">
                <input class = 'review-title' ng-model = 'review.title' placeholder = 'Review Title'>
                <select class = 'rating' name="rating" ng-model = 'review.score'>
                    <option value= 5>5 Amazing!</option>
                    <option value= 4>4 Good</option>
                    <option value=3>3 Above Average</option>
                    <option value=2>2 Average</option>
                    <option value=1>1 Terrible</option>
                </select><br>
                <br>
                <textarea class = 'review-box' ng-model = 'review.content'  placeholder = 'Leave a review for "{{albumData.name}}"'></textarea><br>
                <button  ng-click = 'test(review)' class = 'submit-review'>Submit!</button>
            </form>
            <form ng-show="alreadyReviewed">
                <input class = 'review-title' ng-model = 'usersReview.review.title' placeholder = 'Review Title'>
                <select class = 'rating' name="rating" ng-model='usersReview.review.score' convert-to-number>
                    <option value="5">5 Amazing!</option>
                    <option value="4">4 Good</option>
                    <option value="3">3 Above Average</option>
                    <option value="2">2 Average</option>
                    <option value="1">1 Terrible</option>
                </select><br>
                <br>
                <textarea class = 'review-box' ng-model = 'usersReview.review.content'  placeholder = 'Leave a review for "{{albumData.name}}"'></textarea><br>
                <button  ng-click = 'updateReview(usersReview)' class = 'submit-review'>Update Review</button>
            </form>
        </div>
    </div>
</div>

<div class = 'row'>
    <div class = 'container'>
        <h1 class = 'reviews-text' col s12>Reviews</h1>
    </div>
</div>

<div class = 'row'>
    <div class = 'container'>
        <div class = 'review-cont col s12 m12 l12' ng-repeat = 'review in getAlbumsReviews'>
            <div class = 'alreview card-panel'>
                <span class = 'alreview-title'>{{review.review.review.title}}</span><span class = 'alreview-score right'>{{review.review.review.score}}</span><span class = 'alreview-rating right'>Rating:</span><br>
                <br>
                <p class = 'alreview-content'>{{review.review.review.content}}</p><br>
                <br>
                <span class = 'alreview-name right'>{{review.user.spotifyId}}</span><img class = 'alreview-pic right' ng-src = '{{review.user.profilePic}}'><br>
                <br>
                
                
            </div>
        </div>
    </div>
</div>
