

<div class='reviewed row'>
    <div class='container'>
        <h4 class="reviewed-text col s12">Recently Reviewed</h4>
        <div class='reviewed-contain col s12 m6 l6'>
            <div class='reviewed card-panel'>
               <span class ='review-tite'>{{reviewInfo.review.title}}</span><br>
                <span class="review-text">"{{reviewInfo.review.content}}"
          </span>
            </div>
        </div>
        <div class='reviewed-contain col s12 m6 l6'>
            <div class='reviewed card-panel'>
                <span class ='review-tite'>{{reviewInfo.review.title}}</span><br>
                <span class="review-text">"{{reviewInfo.review.content}}"
          </span>
            </div>
        </div>
    </div>

    <div class='row'>
    <div class="container">
        <h4 class="new-release-text col s12">New Releases</h4>
        <div class='new-release col s12 m6 l3'>
            <div class='card small'>
                <div class="card-image">
                    <img class="img1" src='https://i.scdn.co/image/2339550bc55570a05c141511258aec3a57e9223e'>
                </div>
                <div class='album-content card-content'>
                    <span class="card-title">Caracal</span>
                    <p class="artistColor">Disclosure</p>
                </div>
            </div>
        </div>
           <div class='new-release col s12 m6 l3'>
            <div class='card small z-depth-1'>
                <div class="card-image">
                    <img class="img1" src='https://i.scdn.co/image/99e75c7f71fd8b6d2f07a6352384ff6f9f339e40'>
                </div>
                <div class='album content card-content'>
                    <span class="card-title">Big Grams</span>
                    <p class="artistColor #bdbdbd">Big Grams</p>
                </div>
            </div>
        </div>
        <div class='new-release col s12 m6 l3'>
            <div class='card small z-depth-1'>
                <div class="card-image">
                    <img class="img1" src='https://i.scdn.co/image/2359a48a480c7495fbcfcdd7528a4d9f35b7c72e'>
                </div>
                <div class='album content card-content'>
                    <span class="card-title">Music Complete</span>
                    <p class="artistColor #bdbdbd grey-text text-lighten-1">New Order</p>
                </div>
            </div>
        </div>
        <div class='new-release col s12 m6 l3'>
            <div class='card small z-depth-1'>
                <div class="card-image">
                    <img class="img1" src='https://i.scdn.co/image/3fa137d9bb847ecdd1b03d20ee46fc6e8686d1d0'>
                </div>
                <div class='album content card-content'>
                    <span class="card-title">Fetty Wap</span>
                    <p class="artistColor #bdbdbd grey-text text-lighten-1">Fetty Wap</p>
                </div>
            </div>
        </div>
    </div>    
    </div>

